<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
   <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                com.m2dl.helloandroid.wastelocator.backend.apis.InitEndpoint,
                com.m2dl.helloandroid.wastelocator.backend.apis.UserEndpoint,
                com.m2dl.helloandroid.wastelocator.backend.apis.TagEndpoint,
                com.m2dl.helloandroid.wastelocator.backend.apis.InterestEndpoint
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.m2dl.helloandroid.wastelocator.backend.apis.UploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Serve</servlet-name>
        <servlet-class>com.m2dl.helloandroid.wastelocator.backend.apis.ServeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Serve</servlet-name>
        <url-pattern>/serve</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>